<?xml version="1.0"?>
<launch>

    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="turtle_joy">
        <param name="dev" value="/dev/input/js0"/>
        <param name="deadzone" value="0.7"/>
        <param name="autorepeat_rate" value="20"/>
    </node>

    <node pkg="driver_maxon" type="teleop_main" name="teleop_main" output="screen"/>
    <node pkg="driver_maxon" type="teleop_motion" name="teleop_motion" output="screen"/>
    <node pkg="driver_maxon" type="teleop_steering" name="teleop_steering" output="screen"/>
    

</launch>